In [15]:
import pandas as pd
import json
import sys
from pathlib import Path

project_root = Path.cwd().parent   # sai de notebooks/ para a raiz do projeto
sys.path.append(str(project_root))

In [16]:
from src.transform_data import data_transformations
df = data_transformations()
display(df)

2026-02-13 20:44:13,004 | INFO | root | criando DataFrame do arquivo Json...
2026-02-13 20:44:13,008 | INFO | root |  Dataframe criamo com 1 linhas(s)

2026-02-13 20:44:13,014 | INFO | root | Coluna "weather" normalizada - 30 colunas
2026-02-13 20:44:13,017 | INFO | root | colunas removidas - 27 colunas restantes
2026-02-13 20:44:13,019 | INFO | root | colunas renomeadas
2026-02-13 20:44:13,020 | INFO | root |
→ Convertendo colunas para datetime: ['datetime', 'sunrise', 'sunset']
2026-02-13 20:44:13,195 | INFO | root | ✓ Colunas convertidas para datetime

iniciando transformacoes

2026-02-13 20:44:13,196 | INFO | root | ✓ Transformações concluídas

2026-02-13 20:44:13,198 | INFO | root | criando DataFrame do arquivo Json...
2026-02-13 20:44:13,201 | INFO | root |  Dataframe criamo com 1 linhas(s)
2026-02-13 20:44:13,203 | INFO | root | Coluna "weather" normalizada - 30 colunas
2026-02-13 20:44:13,205 | INFO | root | colunas removidas - 27 colunas restantes
2026-02-13 20:44:13,206 | INFO | root | colunas renomeadas
2026-02-13 20:44:13,207 | INFO | root |
→ Convertendo colunas para datetime: ['datetime', 'sunrise', 'sunset']
2026-02-13 20:44:13,210 | INFO | root | ✓ Colunas convertidas para datetime

2026-02-13 20:44:13,211 | INFO | root | ✓ Transformações concluídas

iniciando transformacoes

,base,visibility,datetime,timezone,city_id,city_name,code,longitude,latitude,temperature,...,wind_speed,wind_deg,clouds,sys_id,country,sunrise,sunset,weather_id,weather-main,wather-description
0,stations,10000,2026-02-12 11:03:56-03:00,-10800,3448439,São Paulo,200,-46.6361,-23.5475,27.33,...,7.2,320,0,2033898,BR,2026-02-12 05:52:46-03:00,2026-02-12 18:48:58-03:00,800,Clear,clear sky

In [ ]:

path = '../data/weather_data.json'

with open(path) as f:
    data = json.load(f)
    
df = pd.json_normalize(data)
    
df.head()

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.sea_level,main.grnd_level,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000,1770905036,-10800,3448439,São Paulo,200,-46.6361,-23.5475,...,1019,929,7.2,320,0,2,2033898,BR,1770886366,1770932938